.email-preview {
    cursor: pointer;
    border: 3px solid #f08080;
}

.email-preview .subject {
    font-weight: bolder;
}

/* .side-bar {

} */

/* .unread-emails {

} */

/* .email-prev-to {

} */

/* .subject {

} */

/* .email-content {

} */

/* .email-date {

} */

.email-btns {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.star {
 color: #f08080;
 /* fill: currentColor; */
}
