.note-preview {
    background-color: lightcoral;
    margin: 1vw;
    padding: 3vw;
}
.note-preview:hover > .note-controls {
    display: flex;
    justify-content: space-between;
}
.note-preview > img {
    height: 100px;
    width: 100px;
}
.note-list {
    display: flex;
}
.note-controls {
    display: none;
}
.notes-update {
    padding-top: 1em;
    text-align: center;
}

.notes-update input {
    display: block;
    padding: 0.5em 0.5em;
    line-height: 1.5em;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    height: fit-content;
}

.notes-update button {
    padding: 0.5em 1em;
    margin: 10px auto 0;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.dropdown:hover > .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown .dropdown-content {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.note-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.add-note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
