.note-preview {
    background-color: lightcoral;
    margin: 1vw;
    padding: 3vw;
}
.note-list {
    display: flex;
}

.dropdown:hover > .dropdown-content {
	opacity: 1;
	visibility: visible;
}

.dropdown .dropdown-content {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
